# Virtual Environment
venv/
.venv/

# Ignore datasets
data/*.csv

# Keep the README inside data/
!data/README.md

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating System
Thumbs.db
.DS_Store